<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinjiangbo.dao.ClassesMapper">

    <resultMap id="classInfoMap" type="com.qinjiangbo.pojo.Classes">
        <id column="c_id" property="id"/>
        <result column="c_name" property="name"/>
        <association property="teacher" javaType="com.qinjiangbo.pojo.Teacher">
            <id column="t_id" property="id"/>
            <result column="t_name" property="name"/>
            <result column="t_office" property="office"/>
            <result column="t_gender" property="gender"/>
        </association>
    </resultMap>

    <select id="findClassById" parameterType="int" resultMap="classInfoMap">
        SELECT * FROM class c, teacher t WHERE c.c_id = #{id} AND c.t_id = t.t_id;
    </select>
</mapper>